body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
}
.header {
  background-color: #1c2669;
  color: white;
  vertical-align: bottom;
}
.navbar {
    font-family:"Marvel";
    font-size: 18px;
}
}
.fa {
  color: white;
}
.fa-search {
  color: #777;
}
.row {
  font-family:"Marvel";
}
.form-control {
  background-color: #e8e8e8;
  border-color: white;
  color: #777;
}
.navbar-form .form-control {
  width: 225px;
}
h5 {
  font-family:"Marvel";
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}
.email {
  background-color: #eee;
  border: #ccc;
  text-align: center;
  margin-top: 30px;
}
.email1 {
  background-color: #444444;
  border-color: white;
  color: white;
  width: 220px;
  height: 40px;
}
#house {
  font-family: 'Anton', sans-serif;
  font-size: 34px;
  margin-bottom: 0px;
}
h1 {
  font-family: 'Anton', sans-serif;
  font-size: 48px;
  margin-bottom: 30px;
  text-align: left;
}
.below {
  text-align: center;
  margin-top: 30px;
}
.button {
  background-color: #7b0303;
  border-color: white;
  color: white;
  width: 90px;
  height: 40px;
  }
.circular-portrait {
  position: relative;;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  align-content: center;
}
.circular-portrait img {
  width: 100%;
  height: auto;
}
#collections {
  font-family:"Marvel";
  font-size: 20px;
  font-style: bold;
  text-align: left;
}
.logofull {
  width: 300px;
  height: auto;
}
.carousel-img {
  width: 1200px;
  height: auto;
}
.carousel-inner .item .carousel-img {
    margin: 0 auto;
}
.icon {
  align-items: center;
  font-size: 21px;
}
.shoplinks {
  font-size: 16px;
}
h4 {
  color: #777;
}
.about {
  margin-left: 30px;
}
.fa-contact {
  color: #777;
  font-size: 25px;
  margin-left: 30px;
  margin-bottom: 10px;
  text-align: left;
}
.contacthead {
  margin-left: 10px;
}
.etsy {
  height: 50px;
  margin-left: 30px;
}
.about-text {
  text-align: justify;
}
.sitemap {
  color: #333;
}
.sitemap-sub {
  margin-left: 10px;
}
.contactbody {
  margin-left: 10px;
}
.emaillink {
  margin-left: 40px;
}
